body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

button {
  border-radius: 5px;
  width: 33%;
  font-family: "Space Mono", monospace;
  border-style: none;
}

.button-blue {
  background-color: hsl(183, 100%, 15%);
  color: white;
}

input {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  text-align: right;
  font-size: 24px;
  border-style: none;
  width:100%;
  margin: auto;
  border-radius: 5px;
  padding: 1.5% 5%;
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
}

input:focus {
  outline-style: solid;
  outline-color: hsl(172, 67%, 45%);
  outline-width: 2px;
  caret-color: hsl(173, 61%, 77%);
}

h2 {
  font-size: 16px;
  padding-top: 0;
}

p {
  font-size: 13px;
  color: hsl(184, 14%, 56%);
}

.whiteContainer {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 50px;
  width: 920px;
  height: 481px;
  margin: 100px auto;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  color: hsl(186, 14%, 43%);
  margin: 46.5px;
  line-height: 0.5;

}

.rightContainer {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 32px 3px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  width: 45%;
  color: white;
  padding: 4%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.leftContainer button {
  flex-basis: 31% ;
  margin-top: : 4%;
  margin-bottom: 4%;
  height: 48px;
  width: 117px;
  font-size: 24px;
}

.rightContainer button {
  margin: auto;
  width: 100%;
  height: 48px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.result-number {
  font-size: 48px;
  color: hsl(172, 67%, 45%);
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:71px;
  padding-top: 2%;
}

.result-label {
  line-height: 0.6;
  height: 55px;

}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splitter {
  margin: 160px auto 80px;
  width: 100px;
}

#bill-input {
  background-image: url("images/icon-dollar.svg");
  width: 90%;

}

#number-input {
  background-image: url("images/icon-person.svg");
  width: 90%;
}

#custom {
  flex-basis: 26%;
  margin: 0;
  padding: 0 2.5% 0 2.5%;
  height: 48px;
  font-size: 24px;
  background-color: hsl(189, 41%, 97%);
  text-align: center;
  color: hsl(180, 18, 40);
}

.button15default {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.button15default:focus {
  outline-style: none;
}

.button-blue:focus, #reset:focus {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}

#number-of-people {
  display: inline-block;
}

#not-zero {
  display: none;
  float: right;
  color: hsl(13, 70%, 61%);

}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
